* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	color: #454545;
	font-family: "Microsoft Yahei", "微软雅黑", Arial, "宋体";
}

ul,ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #3FA7CB;
}

.clearfix {
	zoom: 1;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

div#topbar {
	height: 50px;
	_height: 48px;
	position: fixed;
	_position: absolute;
	background-color: #3FA7CB;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1023;
	padding-bottom: 0;
}

#topbar .wrapper-box {
	width: 980px;
	margin: 0 auto;
	position: relative;
	height: 50px;
	background-color: #3FA7CB;
}

.left-box {
	float: left;
	padding-top: 8px;
}

.q-logo {
	display: block;
	color: white;
	font-size: 22px;
	height: 36px;
}

.center-box {
	float: left;
	margin-left: 50px;
	height: 50px;
}

.q-menubox {
	height: 100%;
	float: left;
}

.q-menuitem {
	float: left;
	font-size: 16px;
	text-align: center;
	height: 100%;
	line-height: 50px;
}

.q-menubox .q-menuitem a {
	color: white;
	padding: 0 20px;
	display: block;
	font-family: "Microsoft Yahei", "微软雅黑", "黑体", Arial;
}

.q-menuitem ul.sub {
	display: none;
	position: absolute;
}

.q-menuitem ul.sub li {
	border-top: 1px solid white;
	background: #3FA7CB;
}

.q-menuitem ul.sub li a {
	font-size: 14px;
}

.right-box {
	float: right;
	height: 50px;
	margin-right: -7px;
}

.q-navbox {
	height: 100%;
	float: right;
}

.q-navbox .q-navitem {
	float: left;
	font-size: 12px;
	text-align: center;
	height: 100%;
	line-height: 50px;
}

.q-navbox .q-navitem a {
	color: #C0EEFF;
	padding: 0 15px;
}

.q-navbox .q-navitem a:hover {
	color: #fff;
}

#qcenterBody {
	width: 980px;
	overflow: visible;
	margin: 0 auto;
	padding: 0;
}

.grid-75 {
	width: 730px;
}

.grid-23 {
	width: 240px;
}

#ent {
	width: 720px;
	margin-top: 79px;
}

#MainContent {
	width: 720px;
	overflow: visible;
	color: #454545;
}

.mod-side-wraper {
	margin-top: 79px;
	background-color: #FBFBFB;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #E1E1E1;
	zoom: 1;
}

.mod-side-wraper .title {
	padding: 8px;
	background: #EEE;
	border-top: 1px solid #D4D4D4;
	display: block;
	position: relative;
	color: #999;
}

.mod-side-wraper .ranklist {
	padding: 12px;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
	display: block;
	position: relative;
}

.mod-side-wraper ul.list {
	list-style: none;
}

.mod-side-wraper ul.list li {
	font-size: 14px;
	padding: 5px 2px;
}

.side-item {
	border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
}

.desc-box {
	height: 43px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: #4AACCE;
	background: -webkit-linear-gradient(top, #4AACCE, #36A6CB);
	background: -moz-linear-gradient(top, #4AACCE, #36A6CB);
	background: -ms-linear-gradient(top, #4AACCE, #36A6CB);
	background: -o-linear-gradient(top, #4AACCE, #36A6CB);
	background: linear-gradient(top, #4AACCE, #36A6CB);
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#4AACCE,
		endcolorstr=#36A6CB, gradientType=0);
	-webkit-box-shadow: 0 2px 3px #DADADA;
	-moz-box-shadow: 0 2px 3px #DADADA;
	-o-box-shadow: 0 2px 3px #DADADA;
	box-shadow: 0 2px 3px #DADADA;
}

.desc-box a {
	font-size: 16px;
	color: white;
	margin-left: 10px;
	float: left;
	height: 43px;
	line-height: 43px;
	word-wrap: break-word;
	text-overflow: ellipsis;
	width: 180px;
	overflow: hidden;
}

tbody,tfoot,thead,tr,th,td {
	border: 0;
}

thead {
	vertical-align: middle;
}

table#maintable {
	margin: 10px 0pt 15px;
	width: 100%;
	text-align: left;
	display: table;
}

table#maintable thead tr th {
	cursor: pointer;
	background: #CAE8EA url("../images/bg_header_sortable.jpg") no-repeat;
	border: 0px solid white;
	font-size: 12px;
	padding: 10px 5px 12px 12px;
}

table#maintable tbody td {
	border-top: 1px solid white;
	color: #000;
	padding: 4px;
}

table#maintable tbody tr.oddtr {
	background-color: #E8EDFF;
}

table#maintable tbody tr.hover {
	background-color: #B9C9FE;
}

table#infotable {
	margin: 10px 0pt 15px;
	width: 100%;
	text-align: left;
	display: table;
}

table#infotable thead tr th {
	background: #4AACCE;
	background: -webkit-linear-gradient(top, #4AACCE, #36A6CB);
	background: -moz-linear-gradient(top, #4AACCE, #36A6CB);
	background: -ms-linear-gradient(top, #4AACCE, #36A6CB);
	background: -o-linear-gradient(top, #4AACCE, #36A6CB);
	background: linear-gradient(top, #4AACCE, #36A6CB);
	border: 0px solid white;
	font-size: 12px;
	padding: 10px 5px 12px 12px;
	color: #FFFFFF;
}

table#infotable tbody td {
	border-top: 1px solid white;
	color: #000;
	padding: 4px;
}

table#infotable tbody tr.oddtr {
	background-color: #E8EDFF;
}

table#infotable tbody tr.hover {
	background-color: #B9C9FE;
}

h1.title {
	margin: 20px 0 0 0;
}

h1.title a {
	font-size: 40px;
	font-weight: normal;
	text-shadow: -2px 1px white;
}

div.titletip {
	margin: 10px 0;
	color: #999;
}

.rankbox {
	margin: 20px 5px;
	width: 350px;
}

.rankbox h2 {
	margin-bottom: 10px;
}

table.box tr td {
	height: 20px;
	vertical-align: middle;
	line-height: 14px;
}

table.box tr td span {
	color: #3FA7CB;
	padding: 0 10px;
	font-size: 14px;
}

#placeholder {
	margin: 20px 0;
}

table#appletable {
	border-collapse: collapse;
	border-spacing: 0;
	border-color: gray;
	color: #333;
}

table#appletable thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

table#appletable th {
	font-weight: bold;
	vertical-align: bottom;
	background-color: #DDD;
}

table#appletable th,table#appletable td {
	padding: 8px;
	line-height: 18px;
	border-top: 1px solid #DDD;
	text-align: left;
}

table#appletable tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

table#appletable tr.appleoddtr {
	background-color: #F9F9F9;
}

table#appletable div.applerank {
	vertical-align: middle;
	background-color: #52B4FE;
	height: 32px;
}

table#appletable tr.hover {
	background-color: #DDD;
}

.mod-footer {
	padding: 30px 0 15px 0;
	width: 100%;
	height: 40px;
	position: relative;
	clear: both;
	zoom: 1;
}

.footer-box {
	text-align: center;
	font-family: Arial, simsun;
}

.footer-box .inner-box {
	margin-bottom: 10px;
	line-height: 14px;
	height: 14px;
	overflow: hidden;
	color: #3FA7CB;
	font-size: 12px;
}

.footer-box .copy-box {
	color: #959595;
	line-height: 16px;
	height: 16px;
	overflow: hidden;
}